<div class="pageheader-dots__color">
    <div class="pageheader-dots__dots">
        <div class="pageheader-dots__wrapper">
            <div class="pageheader-dots__container" >
                <p class="pageheader-dots__top-heading">{{ pageHeader.top }}</p>
                <div id="js-pageheader-scene" > 
                    <p data-depth="0.2" class="pageheader-dots__main-heading">
                        {{{ pageHeader.main }}}
                    </p>
                    <p data-depth="0.6" class="pageheader-dots__main-heading-shadow">
                        {{{ pageHeader.main }}}
                    </p>
                </div>
                <p class="pageheader-dots__sub-heading">{{{ pageHeader.sub }}}</p>
                <div class="pageheader-dots__button">
                    {{#if previousButton}} {{> '@link-button--ghost' previousButton }} {{/if}}
                    {{#if nextButton}} {{> '@link-button' nextButton }} {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>