<article class="text-box {{ modifier }}">
	<div class="text-box__inner">
		<div class="text-box__content">
			<h2 class="text-box__heading">{{ heading.text }}</h2>
			<p>{{{ text }}}</p>
		</div>
		{{#if link }}
			{{> '@link' link }}
		{{/if}}
	</div>
</article>