<article class="text-box {{ modifier }}">
	<div class="text-box__inner">
		<div class="text-box__content">
			{{> '@heading--column' heading }}
			<p>{{{ text }}}</p>
		</div>
		{{#if link }}
			{{> '@link' link }}
		{{/if}}
	</div>
</article>