/*
 * Module: Text Box
 */

:root{
	--icon-box-background-color: var(--color-white);
	--icon-box-border-style: 2px solid var(--color-secondary);
	--icon-box-border-radius: 4px;
	--icon-box-padding: 20px;
	--icon-box-paragraph-spacing-top: 15px;
}

.icon-box {
    text-align: center;

    &__inner {
        padding: var(--icon-box-padding);
    }

    p + p {
        margin-top: var(--icon-box-paragraph-spacing-top);
    }
}

.icon-box__icon {
    border: 1px solid var(--icon-box-border-style);
    border-radius: 50% 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 92px;
    width: 92px;
}

.icon-box__icon svg {
    height: 50px;
    margin: auto;
    width: 50px;
}
