<section>
    <div class="container">
        <div class="row center-xs">
            {{#each iconBoxes}}
            <div class="col-xs-3">
                {{> @icon-box this}}
            </div>
            {{/each}}
        </div>
    </div>
</section>