<div class="pageheader-dots__color">
    <div class="pageheader-dots__dots">
        <div class="pageheader-dots__wrapper">
            <div class="pageheader-dots__container" >
                <p class="pageheader-dots__top-heading">{{ header.top }}</p>
                <div id="js-pageheader-scene" > 
                    <p data-depth="0.2" class="pageheader-dots__main-heading">
                        {{{ header.main }}}
                    </p>
                    <p data-depth="0.6" class="pageheader-dots__main-heading-shadow">
                        {{{ header.main }}}
                    </p>
                </div>
                <p class="pageheader-dots__sub-heading">{{ header.sub }}</p>
                <div class="pageheader-dots__button">
                    {{> '@link-button' }}
                </div>
            </div>
        </div>
    </div>
</div>