<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preload" as="font" href="{{ path '/dist/fonts/lato-bold.woff2' }}" type="font/woff2" crossorigin>
        <link media="all" rel="stylesheet" href="{{ path '/dist/css/master.min.css' }}">
    </head>
    <body>
        <section>
            <p class="paragraph">This is a proof of concept and a guide on prototyping with Atomic Design, Fractal and Netlify. It was created by <a href="https://www.novicell.dk/om-novicell/medarbejdere/brian-stefan-jensen/" target="_blank">Brian Jensen</a>, Frontend Architect from <a href="https://www.novicell.dk/" target="_blank">Novicell</a> while writing <a href="https://www.novicell.dk/blog/designsystemer-ux-og-frontend-kode-paa-lager/" target="_blank">this blog post</a>.</p>
            <p class="paragraph">Head over to <a href="/components/preview/page-guide-0">the guide</a> to get started. If you are already familiar with the demo, feel free to browse around.</p>
            <p class="paragraph"><a href="/components/preview/page-guide-0" class="link-button--bordered">Go to the guide</a></p>
        </section>
        <section>
            If you have questions, suggestions or need help, go to <a href="https://github.com/Novicell/prototyping-demo" target="_blank">https://github.com/Novicell/prototyping-demo</a> and submit an issue or reach out at <a href="mailto:bsj@novicell.dk">bsj@novicell.dk</a>.
        </section>
        <script defer src="{{ path '/dist/scripts/vendor.min.js' }}"></script>
        <script defer src="{{ path '/dist/scripts/master.min.js' }}"></script>
    </body>
</html>
