<div class="container">
    <div class="list-page">
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }} 
        {{ render '@list-page-item--card' }} 
    </div>
</div>
